@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    display: flex;
    height: 70px;
}

.navbar li{
    list-style-type: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.seciton1{
    max-width: 140vh;
}

.section1 h1{
    font-size: 2rem;
    color: 3A88A6
}

.logo{
    font-size: 1.3rem;
}

.dumbellimg{
    width: 165px;
}

.topright .gymimg{
    width: 745px;
}

.section2{
    padding: 45px;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(58, 136, 166);
    border-radius: 15px;
    text-align: center;
}

.box h2{
    font-size: 1.8rem;
    padding: 14px 0;
}

.highlighted{
    font-size: 1.1rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 18px 0;
}

.section3 table td{
    border-bottom: 2px solid black;
}

.section3 h1{
    font-size: 2.5rem;
}

.section3{
    padding: 65px;
}

footer{
    padding: 23px;
    text-align: center;
}